@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gloria Hallelujah', cursive;
    background: #4C8080;
}

header {
    text-align: center;
    padding: 25px;
    font-size: 1.6em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#000000)";
    /*IE 8*/
    text-shadow: 2px 2px 0 #000000;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    color: #ffe4c4;
}

img {
    width: 20px;
}

.main-app {
    display: flex;
    align-self: center;
    max-width: 500px;
    align-content: stretch;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-app>* {
    color: white;
    margin: 8px;
    font-family: 'Gloria Hallelujah', cursive;
}

.btn {
    flex: 50%;
    width: 200px;
    max-height: 120px;
    font-size: 3em;
    background: beige;
}

#onOff,
#start,
#strict,
#counter {
    background: #4C8080;
    font-size: 1.5em;
    border: 10px solid beige;
    border-radius: 50px;
    flex: 1 1 30%
}

button[data-color="green"] {
    border: 15px solid darkgreen;
    color: darkgreen;
    flex: 2;
}

button[data-color="red"] {
    border: 15px solid red;
    color: red;
    flex: 2;
}

button[data-color="yellow"] {
    border: 15px solid darkorange;
    color: darkorange;
}

button[data-color="blue"] {
    border: 15px solid blue;
    color: blue;
}

#blue,
button[data-color="blue"]:hover {
    background: blue;
    color: #000;
}

#yellow,
button[data-color="yellow"]:hover {
    background: darkorange;
    color: #000;
}

#green,
button[data-color="green"]:hover {
    background: darkgreen;
    color: #000;
}

#red,
button[data-color="red"]:hover {
    background: red;
    color: #000;
}

#counter {
    flex: 300px;
    margin: 8px 35%;
    text-align: center;
    letter-spacing: 6px;
    /*flex: 1 1 300px;*/
}

@media all and (max-width:460px) {
    #onOff,
    #start,
    #strict {
        flex: 1 1 25%;
    }
    header,
    #onOff,
    #start,
    #strict,
    #counter, .btn {
        font-size: 1em;
    }
    
}
